<h1>Master Page</h1>

 To find html codinig  <a href ="https://www.w3schools.com/html/html_layout.asp" > HTML </a>
<br>
<h2> <%=@a %>  Find Welcome page click on - <%= link_to 'Page', master_page_path %> </h2>

